*{
  margin: 0px;
  padding: 0px;
}

.main {
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url("../assets/heart-pieces-black-gray.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.navbar{
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon {
  width: 200px;
  float: left;
  height: 70px;
}

.logo {
  color: chocolate;
  font-size: 35px;
  font-family: Arial;
  float: left;
  padding-top: 10px;
  padding-left: 20px;
}

.menu {
  width: 400px;
  height: 70px;
  float: left;
}

.menu ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  list-style: none;
  margin: 27px 0px 0px 62px;
  font-size: 14px;
}

.menu ul li a {
  text-decoration: white;
  color: white;
  font-family: Arial;
  transition: .3s ease-in-out;
}

.menu ul li a:hover {
  color: blue;
}

.search {
  width: 330px;
  float: left;
  margin-left: 270px;
}

.search-input {
  font-family: 'Times New Roman';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid orange;
  margin-top: 13px;
  color: white;
  border-right: none;
  /* float: left; */
  font-size: 16px;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.search-input {
  outline: none;
}

.search-btn {
  width: 100px;
  height: 40px;
  background: orange;
  border: 2px solid orange;
  margin-top: 13px;
  color: white;
  font-size: 15px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.search-btn:focus {
  outline: none;
}